<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/p06-Swing/src/com/esisa/java/swing/contactmanager/ContactForm.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.esisa.java.swing.contactmanager.ContactForm"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="p06-Swing"/>
</launchConfiguration>
